[package]
name = "cw-fund-distributor"
authors = ["bekauz <bekauz@protonmail.com>"]
description = "A CosmWasm contract for distributing funds to DAO members based on voting power."
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []

[dependencies]
cosmwasm-schema = { workspace = true }
cosmwasm-std = { workspace = true }
cw-storage-plus = { workspace = true }
cw2 = { workspace = true }
cw20 = { workspace = true }
thiserror = { workspace = true }
cw-utils = { workspace = true }
dao-voting-cw20-staked = { workspace = true }
cw20-stake = { workspace = true, features = ["library"] }
dao-interface = { workspace = true }
cw-paginate-storage = { workspace = true }

[dev-dependencies]
dao-dao-core = { workspace = true, features = ["library"] }
cw-multi-test = { workspace = true }
cw20-base = { workspace = true, features = ["library"] }
