name: Test Tube Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Integration tests
    runs-on: ubuntu-latest
    env:
      GAS_OUT_DIR: gas_reports
      GAS_LIMIT: 100000000
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Install latest nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2024-01-08
          target: wasm32-unknown-unknown
          override: true

      - name: Setup Go
        uses: actions/setup-go@v4

      - name: Clone libwasmv (needed for test-tube)
        uses: actions/checkout@v2
        with:
          repository: CosmWasm/wasmvm
          path: ./wasmvm
          ref: v1.5.2

      - name: Install libwasmv
        run: cd ./wasmvm && make build-rust && cd ../

      - name: Rust Dependencies Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            artifacts/
          key: ${{ runner.os }}-cargo-with-artifacts-${{ hashFiles('**/Cargo.lock') }}

      - name: Install just
        uses: extractions/setup-just@v1

      - name: Run download deps
        run: just download-deps

      - name: Run workspace optimize
        run: just workspace-optimize

      - name: Run Test Tube Integration Tests
        run: just test-tube
